@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 15% 15%;
    --border: 220 10% 90%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --accent: 270 78.9% 22.4%;
    --accent-foreground: 0 0% 98%;
    --muted: 220 10% 95%;
    --muted-foreground: 220 10% 40%;
  }

  .dark {
    --background: 240 20% 4.9%;
    --foreground: 0 0% 96.1%;
    --border: 240 10% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --accent: 270 78.9% 22.4%;
    --accent-foreground: 0 0% 98%;
    --muted: 240 14% 13.7%;
    --muted-foreground: 0 0% 70%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply min-h-screen bg-background text-foreground;
  }
}
